.formContainrWraper{
  padding: 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #212f52;
 width: fit-content;
 max-width: 100%;
 border-radius: 15px;
}
.formHeader{
  font-size: 2.2em;
  font-style: italic;
}
.formContainr{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(71, 70, 79);
    margin: 20px;
    padding: 20px;
    max-width: 1300px;
    border-radius: 20px;
    gap: 15px;
    color: black;
}
.flexRowContainer{
    display: flex;
    gap: 15px;
}
.flexRowContainer > * {
    flex: 1;
}
.inputLoc{
  padding: 7px;
  border-radius: 15px;
  border: none;
}
.locationBtn{
  background-color: rgb(127, 163, 255);
  border: none;
  width: fit-content;
  padding: 10px;
  margin: 10px 0 10px 0;
  cursor: pointer;
  border-radius: 15px;
}
.latLng{
  background-color: white;
  padding: 3px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 15%;
  text-align: center;
}
.textarea {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(221, 221, 221);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.timeInput{
  background-color: #dadada;
  padding: 7px;
  border-radius: 15px;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.submitBtn {
  margin-top: auto;
  padding: 10px 25px;
  background: #4a74f5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 2em;
  box-shadow: 3px 3px 5px black;
  transition: all 0.3s ease;
}
 .submitBtn:focus{
  outline: none;
  box-shadow: 3px 3px 5px black;
}
.submitBtn:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}