.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: rgba(13, 40, 71, 0.9);
  padding: 15px 25px;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerContainer h1 {
  font-size: 2.2em;
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
}

.headerContainer button {
  margin-left: auto;
}